<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head.ejs') %>
<body>
  <%- include('./partials/nav.ejs') %>
  <h1><center>Contacts:</center></h1>
  <ul>
    <% if (contacts.length) { %>  
      <% contacts.forEach(({link, name}) => { %> 
        <li>
          <center><a href="<%= link %>"><%= name %></a></center>
        </li>
      <% }) %>
    <% } %>
  </ul>
</body>
</html>